.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  main {
    padding-top: 75px;
  }

  .placemarkers .name{
    text-align: center;
    padding-bottom: 20px;
    width: 700px
  }

  .placemarkers .description{
    padding-top: 25px;
  }
  
  .placemarkers .description-text{
    word-wrap: break-word;
    width: 700px
  }

  .placemarkers .author{
    text-align: right;
  }

  .placemarkers .image{
    border: 1px double #000000;
    border-radius: 10px;
  }

  .placemarkers .modal{
    border: 2px double #000000;
    border-radius: 10px;
  }

  .placemarkers .author .text{
    display: inline-block;
  }

  .placemarkers .like{
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    outline: none;

  }

  .placemarkers .scroll{
    height: 100px;
    overflow: auto;
    background-color:rgb(208, 250, 243);

  }

  .placemarkers .comment{
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: white;
    width: 60%;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom:10px;
  }

  .placemarkers .comment .authorAll{
    display: flex;
    justify-content: space-between;
  }

  .placemarkers .comment .dateAll{
    padding-right: 20px;
  }

  .placemarkers .comment .contentAll{
    
  }

  .placemarkers .realcomment{

  }


  .placemarkers .mycomment{
    float: right;
    border: 1px solid #000000;
    border-radius: 20px;
    background-color: rgb(123, 231, 226);
    width: 60%;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom:10px;
  }

  .placemarkers .mycomment .authorAll{
    display: flex;
    justify-content: space-between;
  }

  .placemarkers .mycomment .dateAll{
    padding-right: 20px;
  }

  .placemarkers .mycomment .contentAll{
  }

 .centerButton {
  margin:0 25% 0 25%;
  width:50%;
  
 }

 .centerButton  .text{
    margin-top: 50px;
    text-align: center;
  }

  .centerButton .button {
    outline: none;
  border: none;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 100px;
    background: none;
    border: none;
    width: 150px;
    height: 150px;
  }

  .list {
    display:grid;
    grid-template-columns: repeat( auto-fill, minmax(30rem, 1fr) );
    grid-gap: 10rem;
    padding:1rem;
    background:#dbf0f0;
    border-top: 12px double #c7e6e6;
    border-radius: 2px;
  }

  .list .text{
    text-align: center;
  }

  .list .element {
    background:rgb(0,169,157);
    --text:black;
    position: relative;
    box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
    border: 2px solid #000000;
    border-radius: 5px;
}

.list .button1 {
  background:rgb(0,169,157);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.input{
  
}

.input .file-input{
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-top: 10px;
}

.input .img-input{
  padding-top: 25px;
}

.input .button{
  background:rgb(0,169,157);
  width: 100%;
  text-align: center;
  margin-top:10px;
}

.input .button-red{
  background:rgb(192, 103, 111);
  width: 100%;
  text-align: center;
  margin-top:10px;
}

.Progress,
.Progress__Seek{
  height: 3px;
}
.Progress{
  background-color: #eee;
}
.Progress__Seek{
  background-color: green;
}
